.table {
    table-layout: fixed;
}

td {
    padding: 0.05rem;
    padding-bottom: 0;
}

th {
    padding: 0.5rem;
}

th {
    height: 30px;
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: -5px;
    /* Don't forget this, required for the stickiness */
}

#dateAdded {
    width: 120px
}

.limit-feilds {
    width: 250px;
}

table {
    font-size: 1rem;
}

.update-entry {
    cursor: pointer;
}

.update-entry:hover {
    transition: all ease-in-out 0.3s;
    background-color: rgb(224, 224, 224);
}