th,
td {
    padding: 0.25rem;
}

table {
    font-size: 1.1rem;
}

#mainCompanyTable th,
#mainCompanyTable td {
    cursor: pointer;
}

th {
    height: 30px;
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: -5px;
    /* Don't forget this, required for the stickiness */
}

.limit-feilds {
    width: 200px;
}

.btn-secondary {
    width: 5rem;
}

.btn-dark {
    width: 7rem;
}