.logo {
    font-size: 30px;
}

.ticket {
    width: 290px;
    max-width: 290px;
    font-weight: bold;
}

.logo-side-text {
    font-size: 20px;
}

.item-list-head {
    background-color: rgb(233, 233, 233);
}

.item-list {
    font-weight: 500;
}

.phone-number {
    background-color: black;
}