.invoice-d1 {
    width: 25rem;
    height: 10rem;
}

.table {
    table-layout: fixed;
}

textarea {
    resize: none;
}

th,
td {
    padding: 0.25rem;
}


/* #mainItemsTable th,
#mainItemsTable td {
    cursor: pointer;
} */

#mainItemsTable thead {
    background-color: rgb(238, 238, 238);
}

th {
    height: 10px;
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: -5px;
    /* Don't forget this, required for the stickiness */
}

#colCategory {
    width: 220px;
}

.btn-add {
    width: 100%
}

.btn-clear-all {
    width: 100%
}

.btn-generate-invoice {
    width: 100%;
}

.delte-item {
    font-size: 1.5rem;
    transition: ease-in-out all 0.1s;
}

.delte-item:hover {
    cursor: pointer;
    font-size: 1.6rem;
}

.summary-table td {
    padding: 12px 0 12px 0;
}

.summary-header {
    background-color: rgb(238, 238, 238);
}

.arr {
    font-size: 15px;
}